body {
    background-color: #fff0f0;
    color: #C088A2;
    margin: 0;
    margin-top: 10%;
    font-family: Arial;
}

.banner {
    float:left;
    clear:right;
    width:100%;
    margin: 0;
    margin-top:-10%;
    padding-bottom:5%;
    overflow: auto;
    position: fixed;
    border: 1px solid #864664;
    background-color: #864664;
}

.clearfix {
    overflow: auto;
}

.parallax {
    background-image: url("Images/Banner3.png");
    min-height: 417px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 
{
    font-weight: bold;
    color: #C088A2;
}

div.textbox {
    width: 80%;
    margin: auto;
    margin-top: 10px;
}

div.textbox-title {
    color: #C088A2;
    font-family: Arial;
    font-size: 1.5em;
    font-weight: bold;
}

div.textbox-content {
    color: currentColor;
    background-color: white;
    padding: 16px;
    border: 2px solid #9c607c;
    border-radius: 5px;
}

div.container {
    top: 0;
    display: block;
}

a.nameTitle {
    font-family: Arial;
    font-weight: bold;
    font-size: 2.25em;
    text-decoration: none;
    color:white;
    display:inline;
    padding: 0px;
    margin: 0px;
    margin-top: 6%;
    position: absolute;
    left: 4%;
    top: 0;
    overflow:hidden;
}

ul.navbar {
    display:inline;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    position: absolute;
    overflow: hidden;
    background-color: rgba(0,0,0,0);
    right: 30px;
    top: 10px;
}

ul.navbar > li {
    float:left;
    border-right: 1px solid rgba(255, 255, 255, 0.56);
}

ul.navbar > li:last-child {
    border-right: none;
}

ul.navbar > li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    font-weight: bold;
    margin-left: auto;
    width: auto;
}

ul.navbar > li a:hover {
    background-color: rgba(176, 123, 148, 0.75);
}

ul.navbar > li a.active {
    background-color: rgba(156, 96, 124, 0.75);
}

ul.navbar > li a.active:hover {
    background-color: rgba(176, 123, 148, 0.75);
}

ul.navbar > li a.dropdown:hover {
    background-color: #864664;  
}
